<div class="container">
  <mat-card class="control-card">
    <mat-card-header>
      <mat-card-title>Voter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="connected">
        <div *ngIf="connected" (click)="toggleShowQr()">Connected to session {{ sessionId }}: {{ sessionName }}</div>
        <div class="qr-code" *ngIf="qrCodeUrl && showQr">
          <img [src]="qrCodeUrl" alt="QR Code" />
        </div>

        <div *ngIf="currentVideoName !== ''">
          <h2>Currently Playing</h2>
          <p>{{ currentVideoName }}</p>
          <mat-progress-bar mode="determinate" [value]="currentVideoProgress"></mat-progress-bar>
          <p>Progress: {{ currentVideoProgress }}%</p>
          
        </div>

        <div class="button-container" *ngIf="currentVideoName !== ''">
          <button mat-flat-button color="warn" (click)="vetoVideo()">Veto</button>
        </div>


        <div class="full-width-section">
          <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="query">
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="openVideoSearchDialog()">Search Videos</button>
        </div>


      </ng-container>

      <div class="full-width-section" *ngIf="!connected">
        <mat-form-field>
          <input matInput placeholder="Enter Session ID" [(ngModel)]="manualSessionId">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="navigateToVoterPage()" [disabled]="!manualSessionId">Go to
          Voter Page</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>