<div>
    <h1>Chat Application</h1>
  
    <input type="text" [(ngModel)]="username" placeholder="Type Your Name" name="userNameInput">
  
    
    <div class="chat-box">
      <div *ngFor="let message of messages" class="message">
        <span class="sender">{{ message.sender }}:</span> {{ message.message }}
      </div>
    </div>
    
    <form (submit)="sendMessage()" class="input-box">
      <input type="text" [(ngModel)]="messageToSend" placeholder="Type your message" name="messageInput">
      <button type="submit">Send</button>
    </form>
  </div>